@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

body {
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

.wrapperU {
  display: flex;
}
.form-containerU {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  width: 100%; 
}

.containerU, .containerUU {
  box-shadow: 0 0px 5px coral, 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 50px;
  width: 400px;
  height: 430px;
  max-width: 100%;
  text-align: center;
}
.containerUU{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.containerU{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.containerU {
  background-color: #fff;
}

.containerUU {
  background: linear-gradient(to right, coral, #f5434c);
  height: auto;
}

.social-containerU {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.socialU {
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  height: 40px;
  width: 40px;
  color: #333;
  font-size: 20px;
  text-decoration: none;

}
.socialU.facebook:hover {
  color: #3b5998; 
}

.socialU.google:hover {
  color: #db4437; 
}

.socialU.linkedin:hover {
  color: #0e76a8;
}
.socialU:hover {
  background-color: #ffffff

}

.inputU {
  background-color: #eee;
  border: 1px solid rgb(255, 255, 255);
  outline: none;
  border-radius: 20px;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}
.inputU:focus{
  background-color: #eee;
  border: 2px solid coral;
  outline: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.link {
  color: #007BFF;
  font-size: 14px;
  text-decoration: none;
  display: block;
  margin-top: 10px;
  margin-bottom: 7px;
}

.titleU {
  font-weight: bold;
  font-size: 42px;
  margin: 0;
  margin-bottom: 50px;
  background: linear-gradient(to right, coral, #f5434c);
  -webkit-background-clip: text;
  color: transparent;
}

.buttonU {
  border-radius: 20px;
  border: 1px solid transparent;
  background: linear-gradient(to right, coral, #f5434c);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 0.1s ease;
  cursor: pointer;
}
.buttonU:active:hover {
  transform: scale(1.15);
  text-decoration: underline;
}
.buttonU:active{
  transform: scale(1.15);
  text-decoration: underline;
}

.titleUU {
  color: white;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 50px;
}

.paragUU {
  color: white;
  font-style: italic;
  margin-top: 200px;
  margin-bottom: 48px;
}
.buttonUU {
  border-radius: 20px;
  border: 1px solid white;
  background: transparent; 
  color: white; 
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 0.3s ease;
  cursor: pointer;
  margin-top: 60px;

}

.buttonUU:hover {
  text-decoration: underline ;
  transform: scale(1.01);
}

.buttonUU:active {
  transform: scale(0.95);
}


@media screen and (max-width: 1000px) {
  .containerUU {
    display: none;
  }

  .containerU {
    border-radius: 20px;
  }

  .wrapperU::after {
    font-size: 24px;
    color: coral;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
  }

}
.content {
  background: linear-gradient(to right, coral, #f5434c);
  -webkit-background-clip: text;
  background-clip: text;
  color: coral;
  margin-bottom: 20px;
  margin-right: 100px;
  display: inline-block; 
}
.icon {
  color: coral; 
  vertical-align: middle; 
  margin-left: 5px; 
}
.error-message {
  color: red;
 font-size: 8px;
 font-weight: bold;
}
.inputU.error {
  border-color: red; 
}